@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

.login_bg_animation{
    animation: slider 20s infinite alternate;
}
@keyframes slider {
    0%{
        background-image: url("/public/assets/images/sea-image.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    25%{
        background-image: url("/public/assets/images/bycycle-image.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    50%{
        background-image: url("/public/assets/images/forest-grass.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    75%{
        background-image: url("/public/assets/images/wall-hanging-ice.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    100%{
        background-image: url("/public/assets/images/mountain-ice.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

}

.dashboard_links{
    @apply font-medium text-sm text-black py-3 ps-8 w-full hover:bg-lightOrange duration-300 flex gap-2 items-center hover:text-carrotOrange relative after:absolute after:h-full after:w-1 after:bg-transparent after:rounded-full after:right-0 after:top-0 hover:after:bg-carrotOrange after:duration-300
}
.dashboard_sm_links{
    @apply font-medium text-sm text-black py-3 w-full hover:bg-lightOrange duration-300 flex flex-col gap-1.5 items-center justify-center hover:text-carrotOrange relative after:absolute after:h-[2px] after:w-full after:bg-transparent after:rounded-full after:right-0 after:top-0 hover:after:bg-carrotOrange after:duration-300
}
div ::-webkit-scrollbar{
    display: none;
}
.product thead tr td{
    padding-bottom: 16px !important;
}
.product tbody tr td{
    padding: 12px 0;
}
.customer_details thead th{
    padding: 24px 24px;
}
.customer_details tbody td{
    padding: 20px 24px;
}

